.accordion-container, .accordion-container-nested {
    margin-bottom: 20px;
  }
  
  .accordion-title {
    padding: 10px;
    cursor: pointer;
  }
  
  .accordion-content {
    display: none;
    padding: 10px;
    transition: all .5s ease-in-out;
  }
  
  .accordion-content.active {
    display: block;
  }

