.body{
    display: flex;
    flex-direction: column;
  }
  
  .search {
    padding: 1vw;
    display: flex;
    justify-content: center;
  }
  
  .search-box{
    height: 2.7rem;
    width: 45vw;
    outline: none;
    padding: 1vw;
    font-weight: 500;
    font-size: medium;
    box-shadow: -10px 25px 70px 0px rgba(0,0,0,0.1);
    border: 0;
  }
  
  .search-btn, .filter-btn{
    outline: none;
    height: 2.7rem;
    font-weight: 500;
    font-size: .92rem;
    color: #3d3e42;
    width: fit-content;
    padding: 0 1vw;
    border:0;
    cursor: pointer;
    background-color: #FFFFFF;
    box-shadow: 38px -10px 70px 0px rgba(0,0,0,0.1);
  }
  
  .search-btn:hover, .filter-btn:hover{
    color: #fc8019;
  }
  
  .search-btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0 ;
  }
  
  .filter-btn {
    margin: 0 2vw;
  }
  
  .filter {
    display: flex;
    align-items: center;
    margin: auto;
  }
  
  
  .res-container {
    width: 90%;
    display: flex;
    justify-content: left baseline;
    flex-wrap: wrap;
    margin: auto;
    padding-left: 4rem;
    /* justify-content: center; */
  }
  
  .res-container> Link{
    text-decoration: none;
  }