.header {
	display: flex;
	justify-content: space-between;
	/* border: 1px solid black; */
    height: 5rem;
    padding: 0 10vw;
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    z-index: 100;
}



.logo-container {
	display: flex;
	align-items: center;
}
.logo {
	width: 5vw;
    mix-blend-mode:multiply;
}

.nav-items {
	display: flex;
	align-items: center;
}

.nav-items > ul {
    font-size: 1.5rem;
	display: flex;
    justify-content: space-between;
	list-style-type: none;
    font-size: large;
    text-transform: capitalize;
    white-space: nowrap;
    outline: none;
    font-weight: 500;
}

.nav-link{
    color: #3d4152;
    text-decoration: none;
    margin:0 1vw;
    padding: 1vw;
}

.nav-link:hover{
    color: #fc8019;
}