
.menu-row2 h4 {
    display: flex;
    align-items: center;
    font-size: .9rem;
    color: #3e4512;
}

h4 > span{
    display: flex;
    margin-right: 2rem;
}


.menu-row2 h4 svg{
    box-sizing:content-box;
    /* padding: 0 .5rem; */
    margin-right: .7rem;
}

.offers-carausel{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 1rem 0;
    white-space: nowrap;
    
}

.offer-box{
    display: flex;
    justify-content: left;
    flex-direction: column;
    border: 1px solid #e9e9eb;
    border-radius: 6px;
    box-shadow: rgb(249, 249, 249) 0px 1px 5px 0px;	
    /* height: 4rem; */
    /* width: 20rem; */
    padding: .5rem;
    padding-right: 3rem;
    margin: 0 .5rem;
    cursor: pointer;
    flex-shrink: 0;
    font-size: .9rem;
}

.offer-box > div{
    align-items: center;
    display: flex;
    color: #3e4512;
    font-weight: 600;
}

.offer-box > span{
    color: #686B78;
    font-size: .7rem;
}



