.res-card {
    margin: 2rem;
    width: 20%;
    height: auto;
    /* background-color: #f0f0f0; */
    /* padding: 1rem; */
    transition: all 0.3s ease;
    overflow: hidden;
  }
  
  .res-logo {
    border-radius: 1rem;
    width: 100%;
    overflow: hidden;
  }
  
  .desc {
    padding: 0.5rem 0 0 0.5rem;
  }
  
  .row1 {
    font-size: large;
    color: #494c51;
    font-weight: 700;
  }
  
  .row2 {
    display: flex;
    align-items: center;
    font-size: medium;
    font-weight: 500;
    color: #494c51;
  }
  
  .row3 {
    font-size: small;
    font-weight: 200;
    color: #6e7174;
    /* max-height: 1rem; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .res-card:hover {
    scale: 1.1;
    cursor: pointer;
  }
  
  .res-menu-link{
    text-decoration: none;
  }
  
  @media screen and (max-width: 1000px) {
    .res-card{
      width: 40%;
    }
  }