@import url("./Styles/_Header.css");
@import url("./Styles/_Body.css");
@import url("./Styles/_ResMenuList.css");
@import url("./Styles/_RestaurantCard.css");
@import url("./Styles/_Shimmer.css");
@import url("./Styles/_RestaurantMenu.css");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Schibsted Grotesk", sans-serif;
}

.app {
  margin: 6rem 1vw;
}