@import url("./Styles/_Cuisines.css");
@import url("./Styles/_Shimmer.css");
@import url("./Styles/_RestaurantMenu.css");
@import url("./Styles/_Carousel.css");
@import url("./Styles/_Accordion.css");



*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Schibsted Grotesk", sans-serif;
}

.app {
  margin: 6rem 1vw;
}